@import 'base';

.highlight{
  color: $red;
  font-weight: bold;
}
.margin-horizontal{
  margin: 10px 0;
}
header {
    position: relative;
	display: block;
	width: 100%;
	background: $black;
	color: $white;
	height: 90px;

	nav{
	  position: absolute;
	  top: 50%;
      left: 50%;
	  @include translate(-50%, -50%);

	  ul li{
	    list-style-type: none;
	    display: inline-block;
	    margin-right: 20px;

	    a{
	       font-size: 19px;
	       line-height: normal;
	       color: $white;
	    }
	  }
	}
}

.search {
  width: 100%;
  height: 150px;
  input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: $mobileFontSize;

    @include tablet {
      font-size: $tabletFontSize;
    }

    @include desktop {
      width: 50%;
      font-size: $desktopFontSize;
    }
  }
}

.title{
  color: $red;
}

.map{
  width: 100%;
  margin: 0 auto 20px;
  height: 600px;
  background: transparent;
  @include transition(1s ease);

  @include tablet {
    width: 90%;
  }

  @include desktop {
    width: 80%;
  }

  &.smaller{
    width: 100%;
    float: left;
    margin-right: 5%;

    @include tablet {
      width: 45%;
    }

    @include desktop {
      width: 45%;
    }
  }
}

.locations {
  width: auto;
  overflow: hidden;
  margin: 20px 0 0 0;
  .location {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid $lightGrey;

    @include tablet {
      font-size: $tabletFontSize;
    }

    @include desktop {
      width: 90%;
      font-size: $desktopFontSize;
    }
  }
  .location-title, .location-info, .location-footer {
    padding: 10px;
  }
  .location-info, .location-footer {
    border-top: 1px solid $lightGrey;
  }
  .location-title {
    position: relative;
    background: $lightGrey;
    padding: 10px;
    img {
      height: 20px;
      float: right;

      @include tablet {
        height: 30px;
      }
      @include desktop {
        height: 30px;
      }
    }
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 18px;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: $white;
      top: 50%;
      left: 50%;
      white-space: nowrap;
      @include transition(.5s ease);
      @include translate(-50%, -50%);

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }
    &:hover {
      cursor: pointer;
      .overlay {
        opacity: 1;
      }
    }
  }

  .location-footer{
    p{
      display: inline-block;
    }
    span {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      margin: 0 5px;
      background: $yellow;
      color: white;
      border-radius: 10px;

      .type{
        display: none;
      }

      &:hover{
        .type{
          display: block;
          position: absolute;
          width: auto;
          text-align: center;
          top: -28px;
          left: -20px;
          background: rgba(0,0,0,.7);
          padding: 5px;
          color: white;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
  }
}