@import 'base';

header {
    position: relative;
	display: block;
	width: 100%;
	background: $black;
	color: $white;
	height: 90px;

	nav{
	  position: absolute;
	  top: 50%;
      left: 50%;
	  @include translate(-50%, -50%);

	  ul li{
	    list-style-type: none;
	    display: inline-block;
	    margin-right: 20px;

	    a{
	       font-size: 19px;
	       line-height: normal;
	       color: $white;
	    }
	  }
	}
}
.search {
  width: 100%;
  height: 150px;
  input {
    width: 50%;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
  }
}
.title{
  color: $red;
}
.map{
  width: 80%;
  margin:auto;
  height: 600px;
  background: transparent;
  @include transition(1s ease);
  &.smaller{
    width: 45%;
    float: left;
    margin-right: 5%;
  }
}

.locations {
  width: auto;
  overflow: hidden;
  margin: 20px 0 0 0;
  .location {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid $lightGrey;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: $white;
      font-size: 18px;
      top: 50%;
      left: 50%;
      @include transition(.5s ease);
      @include translate(-50%, -50%);

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }
    &:hover {
      cursor: pointer;
      .overlay {
        opacity: 1;
      }
    }
  }
  .location-title, .location-info, .location-footer {
    padding: 10px;
  }
  .location-info, .location-footer {
    border-top: 1px solid $lightGrey;
  }
  .location-title {
    background: $lightGrey;
    padding: 10px;
    img {
      height: 40px;
    }
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 18px;
      margin-left: 10px;
    }
  }
}